<!DOCTYPE html>
<html>
<head>
    <title>Display Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }
        .form-container {
            margin-right: 20px;
        }
        .image-container {
            max-width: 500px;
        }
    </style>
    <script>
        function displayChannel() {
            var image_path = document.getElementById("image_path").value;
            var selected_channel = document.getElementById("selected_channel").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/display_channel", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var imageContainer = document.getElementById("image_container");
                    imageContainer.innerHTML = '<img src="data:image/png;base64,' + xhr.responseText + '" alt="Displayed Image">';
                }
            };

            xhr.send("image_path=" + encodeURIComponent(image_path) + "&selected_channel=" + encodeURIComponent(selected_channel));
        }

        function showReflectanceGraph() {
            var image_path = document.getElementById("image_path_spectrum").value;
            var selected_channel = document.getElementById("selected_channel_spectrum").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/show_reflectance_graph", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var imageContainer = document.getElementById("image_container");
                    imageContainer.innerHTML = '<img src="data:image/png;base64,' + xhr.responseText + '" alt="Displayed Image">';
                }
            };

            xhr.send("image_path=" + encodeURIComponent(image_path) + "&selected_channel=" + encodeURIComponent(selected_channel));
        }

        function loadIllumination() {
            const formData = new FormData();
            const illuminationFile = document.getElementById("illumination_path").files[0];
            formData.append("illumination", illuminationFile);
        
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/load_illumination", true);
        
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    alert(response.message);
        
                    if (response.illuminations) {
                        const selectIllumination = document.getElementById("selected_illumination");
                        selectIllumination.innerHTML = "";  // Clear existing options
        
                        for (let i = 0; i < response.illuminations.length; i++) {
                            const illumination = response.illuminations[i];
                            const option = document.createElement("option");
                            option.value = illumination;
                            option.textContent = illumination;
                            selectIllumination.appendChild(option);
                        }
                    }
                }
            };
        
            xhr.send(formData);
        }
        
          
        function selectIllumination() {
            console.log("here", formData)
            var selected_illumination = document.getElementById("selected_illumination").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/select_illumination", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var imageContainer = document.getElementById("image_container");
                    imageContainer.innerHTML = '<img src="data:image/png;base64,' + xhr.responseText + '" alt="Displayed Image">';
                }
            };

            xhr.send("selected_illumination=" + encodeURIComponent(selected_illumination));
        }

        function applyIllumination() {
            console.warn("code here")
            const selectedIllumination = document.getElementById("selected_illumination").value;
        
            // Check if an illumination spectrum is selected
            if (!selectedIllumination) {
                alert("Please select an illumination spectrum.");
                return;
            }
        
            // Send the selected illumination spectrum to the server
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/apply_illumination", true);
            xhr.setRequestHeader("Content-Type", "application/json");
        
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const response = xhr.responseText;
                    alert(response);
                    
                    // Display the result in the HTML
                    const illuminationResult = document.getElementById("illumination_result");
                    illuminationResult.innerHTML = response;
                }
            };
        
            const data = JSON.stringify({ selected_illumination: selectedIllumination });
            xhr.send(data);
        }
        
        

        function selectROI() {
            var x = document.getElementById("roi_x").value;
            var y = document.getElementById("roi_y").value;
            var width = document.getElementById("roi_width").value;
            var height = document.getElementById("roi_height").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/select_roi", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var imageContainer = document.getElementById("image_container");
                    imageContainer.innerHTML = '<img src="data:image/png;base64,' + xhr.responseText + '" alt="Displayed Image">';
                }
            };

            xhr.send("x=" + encodeURIComponent(x) + "&y=" + encodeURIComponent(y) + "&width=" + encodeURIComponent(width) + "&height=" + encodeURIComponent(height));
        }

        function convertToRGB() {
            var image_path = document.getElementById("image_path_rgb").value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/convert_to_rgb", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var imageContainer = document.getElementById("image_container");
                    imageContainer.innerHTML = '<img src="data:image/png;base64,' + xhr.responseText + '" alt="Displayed Image">';
                }
            };

            xhr.send("image_path=" + encodeURIComponent(image_path));
        }
    </script>
</head>
<body>
    <h3>Display Image</h3>
    <div class="container">
        <div class="form-container">
            <form action="/load_image" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="image">Select Image:</label>
                    <input type="file" class="form-control-file" name="image" accept=".hdr, .tiff, .mat">
                </div>
                <button type="submit" class="btn btn-primary">Load Image</button>
            </form>
            
            {% if image_path %}
                <hr>
                <h2>Display Channel</h2>
                <input type="hidden" id="image_path" value="{{ image_path }}">
                <div class="form-group">
                    <label for="selected_channel">Select Channel:</label>
                    <select id="selected_channel" class="form-control">
                        {% for channel in channel_combo %}
                            <option value="{{ channel }}">Channel {{ channel }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button onclick="displayChannel()" class="btn btn-primary">Display</button>
                
                <hr>
                <h2>Reflectance Spectrum</h2>
                <input type="hidden" id="image_path_spectrum" value="{{ image_path }}">
                <div class="form-group">
                    <label for="selected_channel_spectrum">Select Channel:</label>
                    <select id="selected_channel_spectrum" class="form-control">
                        {% for channel in channel_combo %}
                            <option value="{{ channel }}">Channel {{ channel }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button onclick="showReflectanceGraph()" class="btn btn-primary">Show Spectrum</button>
                
                <hr>
                <h2>Load Illumination</h2>
                <input type="file" class="form-control-file" id="illumination_path" name="illumination_path" accept=".hdr, .tiff, .mat">
                <button onclick="loadIllumination()" class="btn btn-primary">Load</button>
                
                <hr>
                <h2>Apply Illumination</h2>
                <input type="hidden" id="image_path_illumination" value="{{ image_path }}">
                <div class="form-group">
                    <label for="selected_illumination">Select Illumination:</label>
                    <select id="selected_illumination" class="form-control">
                        {% for illumination in illuminations %}
                            <option value="{{ illumination }}">{{ illumination }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button onclick="applyIllumination()" class="btn btn-primary">Apply</button>
                
                <hr>
                <h2>ROI Selection</h2>
                <div class="form-group">
                    <label for="roi_x">X Coordinate:</label>
                    <input type="text" class="form-control" id="roi_x">
                </div>
                <div class="form-group">
                    <label for="roi_y">Y Coordinate:</label>
                    <input type="text" class="form-control" id="roi_y">
                </div>
                <div class="form-group">
                    <label for="roi_width">Width:</label>
                    <input type="text" class="form-control" id="roi_width">
                </div>
                <div class="form-group">
                    <label for="roi_height">Height:</label>
                    <input type="text" class="form-control" id="roi_height">
                </div>
                <button onclick="selectROI()" class="btn btn-primary">Select ROI</button>
                
                <hr>
                <h2>Convert to RGB</h2>
                <input type="hidden" id="image_path_rgb" value="{{ image_path }}">
                <button onclick="convertToRGB()" class="btn btn-primary">Convert</button>
            {% endif %}
        </div>
        <div class="image-container" id="image_container">
            {% if display_image %}
                <hr>
                <h2>Displayed Image</h2>
                <img src="data:image/png;base64,{{ display_image }}" alt="Displayed Image" class="img-fluid">
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
